
.lastOrder-page {
    background-size: auto 100%;
    position: relative;
    width: 100%;
    min-height: 100%;
	min-height: 100vh;
    min-height: calc(100vh - 10px);
    padding: 0 15px;
    padding-bottom: 10px;
}
.lastOrder-page h2 {
    margin: 0;
    padding: 1em;
    position: relative;
}
.lastOrder-page-inf {
    min-height: 65vh;
    padding: 0 15px;
    color: #333333;
    position: relative;
}

.lastOrder-page .form-row {
    margin-bottom: 15px;
    padding: 5px 0;
    display: block;
}
.lastOrder-page .form-row-name {
    padding: 3px 0;
    color: #9B9B9B;
    font-size: 17px;
}
.lastOrder-page .form-row-value {

}
.lastOrder-page .not-requered {
    color: #9B9B9B;
}
.lastOrder-page .sum {
    padding: 10px 0 15px 0;
    color: #333333;
    font-size: 20px;
}

.lastOrder-page .description {
    margin-top: 5px;
    padding: 5px;
    border-top: 2px #9B9B9B solid;
    font-size: 13px;
    opacity: 0.6;
}

.lastOrder-page-buttons {
    width: 100%; 
    padding: 10px 0;
    border-bottom: 4px #0087E5 solid;
}
.hide {
    display:none !important;
}