
<div class="dry-cleaning-bg">
    <div class="dry-cleaning">
        <a href="#/menuPage" class="btn-back"><img src="/lioxapp/images/icn_back.png" width="24"></a>
        <div class="text-left">
            <h2>DRY CLEANING</h2>
        </div>
        <!--First form-->
        <form class="dry-cleaning-form">
            <!--<img src="img/logo.png" class="logo" />-->
            <label class="form-row">
                <div class="form-row-name">
                    LAUNDER SHIRTS
                </div>
                <div class="form-row-value">
                    <div class="chois-number width80 float-left">
                        <div class="chois-number_left-side">
                            <!-- <div class="minus">&#45;</div> -->
                            <div class="minus">&#45;</div>
                        </div>
                        <div class="chois-number_center-side">
                            <div class="chois-number-input">
                                <input type="hidden" name="lshirt_count" value="0" class="chois-number-input-real-value" />
                                <div class="chois-number-input-value">0</div>
                            </div>
                        </div>
                        <div class="chois-number_right-side">
                            <!-- <div class="plus">&#43;</div> -->
                            <div class="plus">&#43;</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="label-sum width20 float-left">
                        $<% echo(Prices.price_lshirt); %>
                    </div>
                </div>
                <div class="clear"></div>
            </label>
            <label class="form-row">
                <div class="form-row-name">
                    PANTS
                </div>
                <div class="form-row-value">
                    <div class="chois-number width80 float-left">
                        <div class="chois-number_left-side">
                            <div class="minus">&#45;</div>
                        </div>
                        <div class="chois-number_center-side">
                            <div class="chois-number-input">
                                <input type="hidden" name="pants_count" value="0" class="chois-number-input-real-value" />
                                <div class="chois-number-input-value">0</div>
                            </div>
                        </div>
                        <div class="chois-number_right-side">
                            <div class="plus">&#43;</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="label-sum width20 float-left">
                        $<% echo(Prices.price_pants); %>
                    </div>
                </div>
                <div class="clear"></div>
            </label>
            <label class="form-row">
                <div class="form-row-name">
                    SHIRT
                </div>
                <div class="form-row-value">
                    <div class="chois-number width80 float-left">
                        <div class="chois-number_left-side">
                            <div class="minus">&#45;</div>
                        </div>
                        <div class="chois-number_center-side">
                            <div class="chois-number-input">
                                <input type="hidden" name="shirt_count" value="0" class="chois-number-input-real-value" />
                                <div class="chois-number-input-value">0</div>
                            </div>
                        </div>
                        <div class="chois-number_right-side">
                            <div class="plus">&#43;</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="label-sum width20 float-left">
                        $<% echo(Prices.price_shirt); %>
                    </div>
                </div>
                <div class="clear"></div>
            </label>
            <label class="form-row">
                <div class="form-row-name">
                    2 PC SUIT
                </div>
                <div class="form-row-value">
                    <div class="chois-number width80 float-left">
                        <div class="chois-number_left-side">
                            <div class="minus">&#45;</div>
                        </div>
                        <div class="chois-number_center-side">
                            <div class="chois-number-input">
                                <input type="hidden" name="2suit_count" value="0" class="chois-number-input-real-value" />
                                <div class="chois-number-input-value">0</div>
                            </div>
                        </div>
                        <div class="chois-number_right-side">
                            <div class="plus">&#43;</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="label-sum width20 float-left">
                        $<% echo(Prices.price_suit); %>
                    </div>
                </div>
                <div class="clear"></div>
            </label>
            <label class="form-row">
                <div class="form-row-name">
                    COAT
                </div>
                <div class="form-row-value">
                    <div class="chois-number width80 float-left">
                        <div class="chois-number_left-side">
                            <div class="minus">&#45;</div>
                        </div>
                        <div class="chois-number_center-side">
                            <div class="chois-number-input">
                                <input type="hidden" name="fullcoat_count" value="0" class="chois-number-input-real-value" />
                                <div class="chois-number-input-value">0</div>
                            </div>
                        </div>
                        <div class="chois-number_right-side">
                            <div class="plus">&#43;</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="label-sum width20 float-left">
                        $<% echo(Prices.price_coat); %>
                    </div>
                </div>
                <div class="clear"></div>
            </label>
            <label class="form-row">
                <div class="form-row-name">
                    SKIRT / SHORTS
                </div>
                <div class="form-row-value">
                    <div class="chois-number width80 float-left">
                        <div class="chois-number_left-side">
                            <div class="minus">&#45;</div>
                        </div>
                        <div class="chois-number_center-side">
                            <div class="chois-number-input">
                                <input type="hidden" name="shorts_count" value="0" class="chois-number-input-real-value" />
                                <div class="chois-number-input-value">0</div>
                            </div>
                        </div>
                        <div class="chois-number_right-side">
                            <div class="plus">&#43;</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="label-sum width20 float-left">
                        $<% echo(Prices.price_skirt); %>
                    </div>
                </div>
                <div class="clear"></div>
            </label>
            <label class="form-row">
                <div class="form-row-name">
                    SWEATER / BLOUSE
                </div>
                <div class="form-row-value">
                    <div class="chois-number width80 float-left">
                        <div class="chois-number_left-side">
                            <div class="minus">&#45;</div>
                        </div>
                        <div class="chois-number_center-side">
                            <div class="chois-number-input">
                                <input type="hidden" name="sweater_count" value="0" class="chois-number-input-real-value" />
                                <div class="chois-number-input-value">0</div>
                            </div>
                        </div>
                        <div class="chois-number_right-side">
                            <div class="plus">&#43;</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="label-sum width20 float-left">
                        $<% echo(Prices.price_sweater); %>
                    </div>
                </div>
                <div class="clear"></div>
            </label>
            <label class="form-row">
                <div class="form-row-name">
                    SUIT JACKET
                </div>
                <div class="form-row-value">
                    <div class="chois-number width80 float-left">
                        <div class="chois-number_left-side">
                            <div class="minus">&#45;</div>
                        </div>
                        <div class="chois-number_center-side">
                            <div class="chois-number-input">
                                <input type="hidden" name="jacket_count" value="0" class="chois-number-input-real-value" />
                                <div class="chois-number-input-value">0</div>
                            </div>
                        </div>
                        <div class="chois-number_right-side">
                            <div class="plus">&#43;</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="label-sum width20 float-left">
                        $<% echo(Prices.price_jacket); %>
                    </div>
                </div>
                <div class="clear"></div>
            </label>
            <label class="form-row">
                <div class="form-row-name">
                    DRESS
                </div>
                <div class="form-row-value">
                    <div class="chois-number width80 float-left">
                        <div class="chois-number_left-side">
                            <div class="minus">&#45;</div>
                        </div>
                        <div class="chois-number_center-side">
                            <div class="chois-number-input">
                                <input type="hidden" name="dress_count" value="0" class="chois-number-input-real-value" />
                                <div class="chois-number-input-value">0</div>
                            </div>
                        </div>
                        <div class="chois-number_right-side">
                            <div class="plus">&#43;</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="label-sum width20 float-left">
                        $<% echo(Prices.price_dress); %>
                    </div>
                </div>
                <div class="clear"></div>
            </label>
            <div class="clear"></div>
            <label class="form-row tips-row using">
                <div class="form-row-name">
                    TIPS
                </div>
                <div class="form-row-value">
                    <div class="chois-number width80 float-left">
                        <div class="chois-number_left-side">
                            <div class="minus">&#45;</div>
                        </div>
                        <div class="chois-number_center-side">
                            <!-- <div class="chois-number-title">TIPS</div> -->
                            <div class="chois-number-input">
                                <% if(typeof Settings.dryclean_default_tips !='undefined' && Settings.dryclean_default_tips > 0) { %>
                                <input type="hidden" name="tips" value="<% echo(Settings.dryclean_default_tips);%>" class="chois-number-input-real-value" />
                                <div class="chois-number-input-value"><% echo(Settings.dryclean_default_tips);%></div>
                                <% } else { %>
                                <input type="hidden" name="tips" value="15" class="chois-number-input-real-value" />
                                $ <div class="chois-number-input-value">15</div>
                                <% } %>
                            </div>
                        </div>
                        <div class="chois-number_right-side">
                            <div class="plus">&#43;</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </label>
            <div class="clear"></div>
            <div class="sum" style="padding-bottom:0px;">
                <span class="sum-title">Total: $</span>

                <span class="sum-body">15</span>

            </div>
            <div class="sum" style="margin-top:-10px">
                <% if(typeof Settings.minimum_order_price !='undefined' && Settings.minimum_order_price > 0) { %>
                <span class="sum-title" stylle="margin-top: -20px;">Minimum total: $</span><span class="sub-sum-body"><% echo(Settings.minimum_order_price);%></span>
                <% } else { %>
                <span class="sum-title" stylle="margin-top: -20px;">Minimum total: $</span><span class="sub-sum-body">35</span>
                <% } %>
            </div>
            <% if(typeof User.store_credit !='undefined' && User.store_credit > 0) { %>
            <div class="col-12">
                <div class="form-row-name credit-info-row">
                    Credit: $<% echo(User.store_credit);%>
                </div>
            </div>
            <div class="clear"></div>
            <% } %>
        </form>
        <div class="dry-cleaning-buttons first-step">
            <button class="btn-liox btn-fill second-step">Next</button>
            <div class="clear"></div>
        </div>
    </div>
</div>
