
.order-details-page-bg .logo {
    margin: 15px 0 0 0;
}
.order-details-page h2 {
    margin: 0;
}
.order-details-page {
    /* background: url('../../img/background.jpg'); */
    background-size: auto 100%;
    position: relative;
    width: 100%;
    min-height: calc(100vh - 10px);
    padding: 0 17px;
    padding-top: 15%;
}

.order-details-page ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 29px 0;
}

.order-details-page .order-id {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #9B9B9B;
    padding: 0;
}

.order-details-page .title {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #9B9B9B;
    padding: 0;
    margin-bottom: 3px;
}

.order-details-page .order-date-info {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #14374C;
    margin-bottom: 38px;
}

.order-details-page .details {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #14374C;
    margin-bottom: 14px;
}

.modal-bk{
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow-y:scroll;
    background-color:rgba(99,234,211,.9);
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:column;
    flex-direction:column;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content:flex-start;
    justify-content:flex-start;
    -webkit-transition:z-index 0s 650ms,opacity 350ms 250ms cubic-bezier(.165,.84,.44,1);
    -moz-transition:z-index 0s 650ms,opacity 350ms 250ms cubic-bezier(.165,.84,.44,1);
    -ms-transition:z-index 0s 650ms,opacity 350ms 250ms cubic-bezier(.165,.84,.44,1);
    -o-transition:z-index 0s 650ms,opacity 350ms 250ms cubic-bezier(.165,.84,.44,1);
    transition:z-index 0s 650ms,opacity 350ms 250ms cubic-bezier(.165,.84,.44,1);
    z-index:-10;
    -webkit-opacity:0;
    -moz-opacity:0;
    opacity:0
}
.modal-bk[data-modal-state=open]{
    z-index:9990;
    -webkit-opacity:1;
    -moz-opacity:1;
    opacity:1;
    -webkit-transition:z-index 0s 0s,opacity 350ms 10ms cubic-bezier(.165,.84,.44,1);
    -moz-transition:z-index 0s 0s,opacity 350ms 10ms cubic-bezier(.165,.84,.44,1);
    -ms-transition:z-index 0s 0s,opacity 350ms 10ms cubic-bezier(.165,.84,.44,1);
    -o-transition:z-index 0s 0s,opacity 350ms 10ms cubic-bezier(.165,.84,.44,1);
    transition:z-index 0s 0s,opacity 350ms 10ms cubic-bezier(.165,.84,.44,1)
}
.modal-bk[data-modal-state=open] .modal{
    -webkit-opacity:1;
    -moz-opacity:1;
    opacity:1;
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);
    -webkit-transition:opacity 350ms .1s cubic-bezier(.165,.84,.44,1),transform 650ms 150ms cubic-bezier(.165,.84,.44,1);
    -moz-transition:opacity 350ms .1s cubic-bezier(.165,.84,.44,1),transform 650ms 150ms cubic-bezier(.165,.84,.44,1);
    -ms-transition:opacity 350ms .1s cubic-bezier(.165,.84,.44,1),transform 650ms 150ms cubic-bezier(.165,.84,.44,1);
    -o-transition:opacity 350ms .1s cubic-bezier(.165,.84,.44,1),transform 650ms 150ms cubic-bezier(.165,.84,.44,1);
    transition:opacity 350ms .1s cubic-bezier(.165,.84,.44,1),transform 650ms 150ms cubic-bezier(.165,.84,.44,1)
}
.modal-bk .modal-close{
    position:absolute;
    top:20px;
    right:20px;
    cursor:pointer
}
.modal-bk .modal-close img{
    -webkit-transition:opacity 250ms 0s ease;
    -moz-transition:opacity 250ms 0s ease;
    -ms-transition:opacity 250ms 0s ease;
    -o-transition:opacity 250ms 0s ease;
    transition:opacity 250ms 0s ease;
    -webkit-opacity:.8;
    -moz-opacity:.8;
    opacity:.8;
    height:50px;
    width:50px
}
.modal-bk .modal-close:hover img{
    -webkit-opacity:1;
    -moz-opacity:1;
    opacity:1
}
.modal-bk .modal{
    width:47%;
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    -ms-transform:scale(1.1,1.1);
    -o-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1);
    -webkit-opacity:0;
    -moz-opacity:0;
    opacity:0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    position:relative;
    margin-top:120px;
    margin-bottom:120px;
    background-color:#fff;
    padding:40px 0 0;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    -webkit-transition:opacity 350ms .1s cubic-bezier(.165,.84,.44,1),transform 650ms 0s cubic-bezier(.165,.84,.44,1);
    -moz-transition:opacity 350ms .1s cubic-bezier(.165,.84,.44,1),transform 650ms 0s cubic-bezier(.165,.84,.44,1);
    -ms-transition:opacity 350ms .1s cubic-bezier(.165,.84,.44,1),transform 650ms 0s cubic-bezier(.165,.84,.44,1);
    -o-transition:opacity 350ms .1s cubic-bezier(.165,.84,.44,1),transform 650ms 0s cubic-bezier(.165,.84,.44,1);
    transition:opacity 350ms .1s cubic-bezier(.165,.84,.44,1),transform 650ms 0s cubic-bezier(.165,.84,.44,1)
}
@media screen and (max-width:1099px) and (min-width:940px){
    .modal-bk .modal{
        width:63.33333333%
    }
}
@media screen and (max-width:939px){
    .modal-bk .modal{
        width:79.66666667%
    }
}
@media screen and (max-width:639px){
    .modal-bk .modal{
        width:96%;
        margin-top:100px
    }
}
.modal-bk .modal .modal-header{
    text-align:center;
    padding-left:17.37588652%;
    padding-right:17.37588652%
}
.modal-bk .modal .modal-header img{
    margin-bottom:10px
}
.modal-bk .modal .modal-header h3.modal-sub-header{
    margin-top:0;
    color:#9fa4a6
}
.modal-bk .modal .modal-header h3.modal-sub-header .blue{
    color:#3d77ea
}
.modal-bk .modal .modal-body .content{
    padding-top:30px;
    padding-bottom:30px;
    padding-left:17.37588652%;
    padding-right:17.37588652%;
    text-align:center
}
.modal-bk .modal .modal-body .content a{
    color:#3d77ea
}
.modal-bk .modal .modal-body .content a:hover{
    color:#63ead3
}
.modal-bk .modal .modal-body .content .info-row{
    text-align:left;
    border-bottom:1px solid #c9ced1;
    margin-bottom:18px;
    padding-bottom:18px
}
.modal-bk .modal .modal-body .content .info-row>span{
    display:block;
    line-height:1.35;
    color:#16374b
}
.modal-bk .modal .modal-body .content .info-row address{
    line-height:1.35;
    font-variant:normal;
    color:#16374b
}
.modal-bk .modal .modal-footer{
    text-align:center;
    padding-left:17.37588652%;
    padding-right:17.37588652%
}
.modal-bk .modal .modal-footer a:not(.button){
    -webkit-transition:color 250ms 0s ease;
    -moz-transition:color 250ms 0s ease;
    -ms-transition:color 250ms 0s ease;
    -o-transition:color 250ms 0s ease;
    transition:color 250ms 0s ease
}
.modal-bk .modal .modal-footer a:not(.button):hover{
    color:#3d77ea
}
.modal-body .clean-type{
    padding-top:30px;
    padding-bottom:30px;
    padding-left:17.37588652%;
    padding-right:17.37588652%;
    border-bottom:1px solid #edeeef;
    cursor:pointer
}
.modal-body .clean-type:last-child{
    border-bottom:0
}
.modal-body .clean-type .cta{
    -webkit-transition:opacity 250ms 0s ease;
    -moz-transition:opacity 250ms 0s ease;
    -ms-transition:opacity 250ms 0s ease;
    -o-transition:opacity 250ms 0s ease;
    transition:opacity 250ms 0s ease;
    -webkit-opacity:0;
    -moz-opacity:0;
    opacity:0;
    color:#3d77ea;
    float:right;
    font-weight:700;
    font-size:16px
}
.modal-body .clean-type .cta:after{
    content:'';
    height:10px;
    width:18px;
    background-image:url(../images/cta-arrow-blue.svg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:100%;
    display:inline-block;
    margin-left:15px;
    -webkit-transition:transform 250ms 0s ease;
    -moz-transition:transform 250ms 0s ease;
    -ms-transition:transform 250ms 0s ease;
    -o-transition:transform 250ms 0s ease;
    transition:transform 250ms 0s ease
}
.modal-body .clean-type h4{
    margin-top:20px;
    margin-bottom:8px
}
.modal-body .clean-type h4 .grey{
    color:#9fa4a6
}
.modal-body .clean-type:hover{
    background-color:#f8f8f9
}
.modal-body .clean-type:hover .cta{
    -webkit-opacity:1;
    -moz-opacity:1;
    opacity:1
}
