/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

h2, h1{
    font-size: 8vw;
}

.register-maid .logo {
    width: 46px;
    position: absolute;
    top: -23px;
    left: -23px;
}
.register-maid {
    /* background: url('../../img/background.jpg'); */
    background-size: auto 100%;
    position: relative;
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    min-height: calc(100vh - 10px);
    padding: 16px 15px;
    padding-bottom: 10px;
}
.register-maid .btn-back {
    z-index: 10;
    position: absolute;
    cursor: pointer;
    left: 8px;
    top: 12px;
}
.register-maid h2 {
    padding-top: 24px;
    position: relative;
}
.register-maid form {
    background: #FFF;
    color: #9B9B9B;
    position: relative;
}



.register-maid .not-requered .form-row-name {
    font-size: 12px;
    color: #A0A0A0;
}

.register-maid-form-second-step .form-row-name {
    color: #313131;
}

.register-maid-buttons {
    width: 100%;
    padding: 10px 0;
    border-bottom: 4px #0087E5 solid;
}
.register-maid .sum {
    padding: 10px 0 15px 0;
    color: #333333;
    font-size: 14px;
}
.register-maid .chois-number-input {
    font-size: 20px;
}
.register-maid .chois-number-input .chois-number-input-value {
    color: #333333;
}
.register-maid .selected-items-body {
    position: relative;
    text-align: center;
}
.register-maid .selected-items-body select {
    width: 100%;
    position: absolute;
    top:0;
    right:0;
    z-index: 0;
    opacity:0;
}
.register-maid .selected-items-body input {
    width: 100%;
    position: absolute;
    top:0;
    right:0;
    z-index: 0;
    opacity:0;
}
.register-maid .selected-items-body .selected-items-text {
    width: 100%;
    padding: 3px 0;
    font-size: 20px;
    display: inline-block;
}
.register-maid .selected-items-body .selected-items-text.selected {
    color: #333333;
}
.register-maid .selected-items-body i {
    background: #333333;
    width: 30%;
    min-width: 97px;
    height: 1px;
    margin: auto;
    display: block;
}
.register-maid .chois-number {
    width:100%;
}

.register-maid-form-second-step .selected-items {
    padding: 0 15px;
}

.register-maid-form-second-step .selected-items-body .selected-items-text {
    padding: 6px 0;
    font-size: 16px;
}

.register-maid-form-second-step .selected-items i {
    display: none;
}

.register-maid-form-second-step .selected-items-text {
    background: url('../../img/textarea.png');
    background-size: 100% 30px;
    height: 30px;
}

.register-maid .chois-number_left-side {
    width: 33%;
    text-align: right;
    float: left;
}
.register-maid .chois-number_left-side>div, .register-maid .chois-number_right-side>div {
    background: #dedede;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    font-weight: bold;
    margin-left: auto;
    padding: 0px;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
}
.register-maid .chois-number_left-side div.minus {
    margin-left: auto;
    margin-right: 0;
}
.register-maid .chois-number_right-side div.plus {
    margin-right: auto;
    margin-left: 0;
}
.register-maid .chois-number_right-side {
    width: 33%;
    text-align: left;
    float: left;
}
.register-maid .chois-number_center-side {
    width: 33%;
    float: left;
    text-align: center;
}
.register-maid .chois-number_center-side .chois-number-input {
    height: 44px;
    width: 45px;
    margin: auto;
    border: #ddd 1px solid;
    border-radius: 8px;
    margin-top: 0px;
    font-size: 16px;
    line-height: 44px;
}
.register-maid .chois-number_center-side input[type="number"]{
    background: none;
    width: 45px;
    border-bottom: 0px;
}
.register-maid .credit-info-row {
    width: 100% !important;
    margin-top: -10px !important;
    padding-bottom: 10px !important;
    color:#333333 !important;
    font-size:20px !important;
    text-align: center !important;
}
.label-bleach {
    padding-right: 8px !important;
}
.label-extra-bag {
    padding-left: 8px !important;
}
.btn-liox.btn-default {
    border: #dddddd 1px solid;
}
input:checked + label.btn-select {
    background: #3d77ea;
    border: #3d77ea 1px solid;
    color: #fff !important;
}

.btn-liox.btn-select {
    background: transparent;
    border: #dddddd 1px solid;
}
.form-row input[type=checkbox] {
    border-color: #dddddd;
}
#checkbox_bleach, #checkbox_extra_bag {
    display: none;
}
.extras-button {
    text-align: center;
    padding: 12px 10px 8px 10px;
    width: calc(100% - 10px);
    display: block;
    line-height: 14px;
    min-height: 48px;
    font-size: 14px;
    background-color: #FFF;
    color: #000;
    border-radius: 4px;
    border: 1px solid #dddddd;
}
.active {
    background-color: #3d77ea !important;
    color: #FFF !important;
    border: 0px !important;
}
